@keyframes show_nice {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#ag_settings_container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px; }

#ag_settings {
  animation: show_nice .3s;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 15px;
  flex-basis: 80%; }
  #ag_settings .ag_settings_header {
    flex-basis: 100%;
    background-color: #594455;
    color: white;
    border-bottom: 4px solid #758e4f;
    border-left: 10px solid #758e4f;
    text-shadow: black 3px 2px 4px;
    background-image: url(../img/backgroundcityedit1.png);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 10px;
    margin-bottom: 15px; }
  #ag_settings .ag_settings_menu {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    word-wrap: anywhere;
    margin: 0;
    padding: 0;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #f6f6f6; }
    #ag_settings .ag_settings_menu .ag_settings_menu_option {
      text-align: center;
      margin: 0;
      padding: 10px;
      transition-duration: .3s;
      border-left-color: white;
      border-left-width: 10px;
      border-left-style: solid;
      border-right-color: white;
      border-right-width: 10px;
      border-right-style: solid; }
      #ag_settings .ag_settings_menu .ag_settings_menu_option:hover {
        border-left-color: #758e4f;
        border-right-color: #758e4f;
        background-color: #594455;
        color: white;
        transition-duration: .3s;
        cursor: pointer; }
      #ag_settings .ag_settings_menu .ag_settings_menu_option.active {
        background-color: #FFA500;
        border-color: #758e4f;
        color: white; }
  #ag_settings .ag_settings_setting_container {
    flex-basis: 65%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap; }
    #ag_settings .ag_settings_setting_container .ag_settings_setting {
      animation: show_nice .3s;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap; }
      #ag_settings .ag_settings_setting_container .ag_settings_setting .ag_settings_setting_error_container {
        display: flex;
        flex-wrap: wrap; }
        #ag_settings .ag_settings_setting_container .ag_settings_setting .ag_settings_setting_error_container .ag_settings_setting_error, #ag_settings .ag_settings_setting_container .ag_settings_setting .ag_settings_setting_error_container .ag_settings_setting_success {
          animation: show_nice .3s;
          color: red;
          color: white;
          background-color: rgba(190, 37, 37, 0.83);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px;
          flex-basis: 100%; }
        #ag_settings .ag_settings_setting_container .ag_settings_setting .ag_settings_setting_error_container .ag_settings_setting_success {
          background-color: rgba(37, 190, 37, 0.83); }
    #ag_settings .ag_settings_setting_container .ag_settings_change_details, #ag_settings .ag_settings_setting_container .ag_settings_change_credentials {
      justify-content: center;
      text-align: center; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_details button, #ag_settings .ag_settings_setting_container .ag_settings_change_credentials button {
        flex-basis: 30%; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_details input, #ag_settings .ag_settings_setting_container .ag_settings_change_credentials input {
        flex-basis: 70%;
        margin-bottom: 15px;
        text-align: center;
        padding: 5px;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        border-bottom-color: #594455;
        border-bottom-width: 3px;
        transition-duration: .3s;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_details input:focus, #ag_settings .ag_settings_setting_container .ag_settings_change_credentials input:focus {
          border-color: #758e4f;
          transition-duration: .3s; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_details label, #ag_settings .ag_settings_setting_container .ag_settings_change_credentials label {
        flex-basis: 100%; }
    #ag_settings .ag_settings_setting_container .ag_settings_change_avatar {
      justify-content: center;
      text-align: center; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatars_images_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 100%; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatars_images_container img {
          animation: show_nice .3s;
          border-radius: 5px;
          box-shadow: 0px 0px 3px black; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatars_images_container .ag_settings_avatar_post {
          min-width: 150px;
          max-width: 150px;
          max-height: 150px;
          min-height: 150px; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatars_images_container .ag_settings_avatar_square {
          min-width: 60px;
          max-width: 60px;
          max-height: 60px;
          min-height: 60px; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatars_images_container .ag_settings_avatar_round {
          min-width: 45px;
          max-width: 45px;
          max-height: 45px;
          min-height: 45px;
          border-radius: 50%; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatar_upload_image_container {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 15px; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatar_upload_image_container input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatar_upload_image_container label {
          flex-basis: 100%;
          text-align: center; }
        #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_settings_avatar_upload_image_container .ag_settings_avatar_image_info {
          color: rgba(1, 1, 1, 0.5);
          margin-bottom: 5px;
          font-size: 15px; }
      #ag_settings .ag_settings_setting_container .ag_settings_change_avatar .ag_submit_button {
        flex-basis: 30%; }

/*# sourceMappingURL=settings.css.map */
