@import "variables.scss";

#ag_community_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #ag_community{
        animation: show_nice .3s;
        background-color: white;
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        flex-basis: 55%;
        margin-bottom: 15px;
        justify-content: center;
        transition-duration: .3s;
        .ag_community_title{
            text-shadow: black 3px 2px 4px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            background-color: $secondary-color;
            background-image: url(../img/backgroundcityedit1.png);
            background-size: cover;
            background-position-y: 55%;
            background-repeat: no-repeat;
            padding: 10px;
            flex-basis: 100%;
            color: white;
            margin:0;
            margin-bottom: 10px;
        }
        .ag_community_members_container{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 80%;
            border-style: solid;
            border-color: $nth-greylight;
            border-width: 2px;
            border-top:0;
            border-bottom:0;
            list-style: none;
            margin:0;
            padding:5px;
            justify-content: center;
            .react-contextmenu{
                background-color: white;
                box-shadow: 0px 2px 5px black;
                z-index: 1;
                border-radius: 5px;
                overflow: hidden;
                .react-contextmenu-item{
                    padding: 10px;
                    transition-duration: .3s;
                    font-weight: bold;
                    &:hover{
                        background-color: $tertiary-color;
                        color: white;
                        text-shadow: 0px 2px 2px black;
                        transition-duration: .3s;
                    }
                }
                .react-contextmenu-item--disabled{
                    color: lightgrey;
                    cursor: not-allowed;
                    &:hover{
                        background-color: initial;
                        color: lightgrey;
                        text-shadow: none;
                    }
                }
            }
            .ag_community_member, .react-contextmenu-wrapper{
                animation: show_nice .3s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-basis: 20%;
                padding: 15px;
                border-radius: 10px;
                border-style: solid;
                border-color: $nth-greylight;
                border-width: 2px;
                transition-duration: .3s;
                margin: 5px;
                .ag_community_profile_image{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    box-shadow: #b3b3b3 0px 1px 3px;
                    margin-bottom: 10px
                }
                &:hover{
                    border-color: $tertiary-color;
                    cursor: pointer;
                    //transform: scale(1.09);
                    border-radius: 5px;
                    transition-duration: .3s;
                }
                .ag_community_profile_username{
                    font-size: 18px;
                }
                .ag_community_profile_role{
                    opacity: .6;
                }
                .ag_community_profile_post_count{
                    margin-top: 5px;
                }
                .ag_community_profile_post_count,.ag_community_profile_country{
                    opacity: .8;
                }
            }
        }
        .ag_community_load_more{
            flex-basis: 100%;
            margin-top: 10px;
            background-color: $secondary-color;
            color: white;
            text-align: center;
            padding: 15px;
            cursor: pointer;
            transition-duration: .3s;
            &:hover{
                background-color: $tertiary-color;
                transition-duration: .3s;
            }
            &.ag_community_load_more_disabled{
                cursor: not-allowed;
                background-color: $nth-greylight;
                transition-duration: .3s;
            }
        }
    }
}
.ag_community_edit_user_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
    label{
        background-color: $secondary-color;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
    }
    input{
        padding: 10px;
        font-family: inherit;
        //margin-top: 5px;
        border-color: $secondary-color;
        border-width: 3px;
        border-top: 0;
        border-style: solid;
        background-color: #ffffffcc;
        transition-duration: .4s;
        box-shadow: 0px 3px 5px $secondary-color;
        &:focus{
            transition-duration: .4s;
            border-color: $tertiary-color;
            box-shadow: 0px 1px 10px $tertiary-color;
            background-color: rgba(red($tertiary-color)+90, green($tertiary-color)+90, blue($tertiary-color)+90, 1);
        }
    }
}