
@import "variables.scss";

#ag_header{
    //overflow:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    #ag_top_header{
        margin-top: 50px;
        flex-basis: 100%;
        //width: 100%;
        ul{
            width: 100%;
            margin:0;
            padding:0;
            //display: inline;
            font-size: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            /*            li:first-child{
                            margin-left: 125px;
                        }*/
            li{
                // margin-right: 5px;
                //float: left;
                //display: inline-block;
                color: white;
                text-shadow: black 1px 1px 4px;
                flex-basis: 20%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    padding: 20px;
                    //vertical-align: middle;
                    transition-duration: .1s;
                    border-radius: 5px;
                    i, img{
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color: $secondary-color;
                        box-shadow:black 0px 4px 7px;
                        i{
                            color: $tertiary-color;
                            transition-duration: .1s;
                        }
                        transition-duration: .3s;
                    }
                }
            }
            #ag_header_community{
                ul{
                    margin:0;
                    margin-top: 10px;
                    display: block;
                    li{
                        float: none;
                        margin:0;
                        display: block;
                        text-align: center;
                    }
                }
            }
            #ag_user_header_profile{
                //float:right;
                //margin-right: 50px;
                #ag_header_avatar{
                    width:40px;
                    height:40px;
                    border-radius: 50%;
                    // vertical-align: middle;
                }
                #ag_user_settings{
                    margin-left:5px;
                    // vertical-align: middle;
                    ul{
                        margin:0;
                        margin-top: 10px;
                        display: block;
                        li{
                            float: none;
                            margin:0;
                            display: block;
                            text-align: center;
                        }
                    }
                }
                .ag_top_header_dropdown{
                    display:inline-block;
                    position: relative;
                    cursor: pointer;
                    .ag_top_header_dropdown_content{
                        display: none;
                        position: absolute;
                        background-color: $tertiary-color;
                        width: 90%;
                        left: 5%;
                        top: 100%;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        a{
                            display: block;
                            padding: 10px;
                            &:hover{
                                border-radius: 0;
                            }
                        }
                    }
                }

            }
        }
    }
    #ag_header_logo{
        //position: absolute;
        z-index: -1;
        //left: 40%;
        //width: 20%;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        img{
            // width: 100%;
        }
    }
    #ag_header_content{
        background-image: url(../img/header_background.png);
        background-size: contain;
        background-repeat: repeat-x;
        min-height: 300px;
        //margin-top: 415px;
        flex-basis: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        #ag_server_details{
            transition-duration: .3s;
            //float: left;
            //width: 465px;
            margin-left: 20px;
            //margin-top: 5%;
            background-color: rgba(105, 63, 18, 0.7);
            color: white;
            padding: 8px;
            border-radius: 15px;
            position: relative;
            box-shadow: black 2px 2px 6px;
            flex-basis: 30%;
            #ag_server_details_player_count{
                background: linear-gradient(90deg, $tertiary-color 50%, rgba(0,0,0,1) 50%);
                text-align: center;
            }
            table{
                width: 100%;
            }
            img{
                width: 100px;
                vertical-align: middle;
                margin-left: 10px;
            }
            &::before{
                background-color: $secondary-color;
                content: '';
                display: block;
                position: absolute;
                bottom: -20px;
                left: 0px;
                width: 100%;
                height: 15px;
                border-radius: 20px;
                box-shadow: black 0px 6px 18px;
            }
        }
        #ag_header_connect{
            //float: right;
            //margin-right: 135px;
            //margin-top: 5%;
            transition-duration: .3s;
            display: flex;
            flex-basis: 30%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            a{
                //display: block;
                background-color: $tertiary-color;
                margin-top: 5px;
                color: white;
                font-size: 18px;
                border: none;
                box-shadow: #594455 2px 1px 5px;
                flex-basis: 60%;
            }
        }
    }
}
