
@media screen and (max-width: 1210px){
    #forum{
        justify-content: center;
    }
    #ag_main_content{
        flex-basis: 80%;
    }
    #ag_community_container{

        #ag_community{
            flex-basis: 65%;
        }
    }
}

@media screen and (max-width: 1080px){
    #ag_header{
        #ag_header_content{
            #ag_server_details{
                flex-basis: 40%;
            }
        }
    }
}
@media screen and (max-width: 980px){

    #ag_main_content{
        flex-basis: 95%;
        .ag_subforum_title{
            h3{
                font-size: 35px;
            }
        }
    }
    #ag_community_container{

        #ag_community{
            flex-basis: 75%;
        }
    }
}
@media screen and (max-width: 900px){
    #ag_header{
        #ag_header_content{
            #ag_server_details{
                flex-basis: 50%;
            }
            #ag_header_connect{
                flex-basis: 40%;
            }
        }
    }
    #ag_main_content{
        .ag_subforum_topic{
            padding-left: 1%;
            .ag_subforum_topic_logo{
                flex-basis: 10%;
                img{
                    flex: 100%;
                    width: auto;
                    height: 70px;
                }
            }
            .ag_subforum_topic_latest_post{
                flex-basis: 31%;
            }
        }
    }
    #topic{
        #ag_topic_content{
            flex-basis: 97%;
        }
    }
    .ag_create_topic_modal_container{
        .ag_create_topic_modal{
            flex-basis: 85%;
        }
    }
}


@media screen and (max-width: 712px){
    #ag_header{
        #ag_top_header{
            margin-top: 0;
        }
        #ag_header_content{
            #ag_server_details{
                margin-left: 0;
            }
        }
    }
    #ag_main_content{
        .ag_subforum_topic{
            .ag_subforum_topic_logo{
                flex-basis: 0;
                img{
                    display:none;
                }
            }
            .ag_subforum_topic_latest_post{
                img{
                    //display: none;
                }
            }
        }
    }
    #topic{
        #ag_topic_content{
            #ag_topic_posts{
                .ag_topic_post{
                    .ag_topic_post_profile{
                        .ag_topic_post_profile_image_container{
                            .ag_topic_post_profile_image{
                                width: 100px;
                                height: 100px;
                            } 
                        }
                        .ag_topic_post_profile_info{
                            flex-basis: 98%;
                            font-size: 14px;
                        }
                    }
                    .ag_topic_post_content{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 625px){
    #ag_header{
        #ag_header_content{
            justify-content: center;
            #ag_server_details{
                flex-basis: 70%;
            }
            #ag_header_connect{
                flex-basis: 100%;
                a{
                    flex-basis: 80%;
                }
            }
        }
    }
    #ag_main_content{
        flex-basis: 100%;
        .ag_subforum_title{
            h3{
                font-size: 28px;
            }
        }
        .ag_subforum_topic{
            min-height: 240px;
            align-content: space-evenly;
            div{
                min-height: auto !important;
            }
            .ag_subforum_topic_details{
                flex-basis: 100%;
                justify-content: center;
                h4{
                    text-align: center;
                }
                p{
                    margin: 0;
                    text-align: center;
                }
            }
            .ag_subforum_topic_statistic{
                flex-basis: 100%;
            }
            .ag_subforum_topic_latest_post{
                flex-basis: 100%;
                justify-content: center;
                ul{
                    flex-basis: 50%;
                }
                img{
                    min-height: 55px;
                    max-height: 55px;
                    min-width: 55px;
                    min-height: 55px;
                    flex-basis: auto;
                }
            }
        }
    }
    #subforum{
        #ag_subforum_topic_content{
            flex-basis: 100%;
            .ag_subforum_topic{
                justify-content: center;
            }
        }
    }
    .ag_pagination_container{
        justify-content: center;
        .ag_pagination{
            flex-basis: 100%;
        }
        .ag_sort_select{
            flex-basis: 50%;
            padding: 7px;
        }
    }

    #ag_registration{
        #ag_registration_form{
            flex-basis: 100%;
        }
    }
    #ag_login{
        #ag_login_form{
            flex-basis: 100%;
        }
    }

    #topic{
        #ag_topic_content{
            flex-basis: 100%;
            #ag_topic_posts{
                .ag_topic_post{
                    .ag_topic_post_header{
                        padding: 15px;
                        .ag_topic_post_header_profile_image{
                            display: block;
                        }
                        .ag_topic_post_header_details{
                            align-content: center;
                            padding-left: 5px;
                            flex-basis: 75%;
                            .ag_topic_post_username{
                                flex-basis: 100%;
                                text-align: left;
                            }
                            .ag_topic_post_datetime{
                                padding-top: 5px;
                            }
                        }
                    }
                    .ag_topic_post_profile{
                        display: none;
                    }
                    .ag_topic_post_content{
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
    #ag_community_container{

        #ag_community{
            flex-basis: 100%;
        }
    }
    #ag_settings{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 485px){
    #subforum{
        #ag_subforum_topic_content{
            #ag_subforum_topics{
                .ag_subforum_topic{
                    .ag_subforum_topic_details{
                        flex-basis: 78%;
                        padding: 3px;
                        p{
                            margin:0;
                            margin-bottom: 15px;
                        }
                    }
                    .ag_subforum_topic_statistics{
                        justify-content: right;
                        flex-basis: auto;
                    }
                    .ag_subforum_topic_latest_post{
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
    .ag_create_topic_modal_container{
        .ag_create_topic_modal{
            .ck-editor{
                width: 98%;
            }
        }
    }
}
@media screen and (max-width: 390px){
    .ag_pagination_container{
        .ag_pagination{
            .ag_pagination_pages{
                flex-basis: 100%;
            }
        }
    }
    #topic{
        #ag_topic_content{
            #ag_topic_posts{
                .ag_topic_post{
                    .ag_topic_post_header{
                        .ag_topic_post_header_details{
                            flex-basis: 75%;
                        }
                    }
                    .ag_topic_post_profile{
                        display: none;
                    }
                    .ag_topic_post_content{
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}