@import 'variables.scss';

#ag_registration{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    #ag_registration_form{
        animation: show_nice .3s;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;
        padding-bottom: 15px;
        transition-duration: .3s;
        flex-basis: 55%;
        .ag_registration_title{
            flex-basis: 100%;
            margin: 0;
            padding: 10px;
            background-color: $secondary-color;
            color: white;
            border-bottom: 4px solid $tertiary-color;
            border-left: 10px solid $tertiary-color;
            text-shadow: black 3px 2px 4px;
            background-image: url(../img/backgroundcityedit1.png);
            background-size: cover;
            background-position-y: 55%;
            background-repeat: no-repeat;
        }
        .ag_registration_inputs_container{
            flex-basis: 80%;
            padding: 40px;
            padding-top: 0px;
            margin: 20px;
            border-color: $nth-greylight;
            border-style: solid;
            border-width: 2px;
            border-top: none;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            label{
                color: $tertiary-color;
                margin-top: 10px;
                margin-bottom: 5px;
                font-weight: bold;
                text-shadow: 0px 0px 1px $tertiary-color;
            }
            .ag_registration_input{
                padding: 5px;
                border: none;
                font-family: inherit;
                text-align: center;
                border-style: solid;
                border-width: 2px;
                border-color: white;
                border-bottom-color: rgba(red($secondary-color)+40, green($secondary-color)+40, blue($secondary-color)+40, 1);
                border-bottom-width: 4px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                transition-duration: .3s;
                &:focus{
                    border-color: $tertiary-color;
                    transition-duration: .3s;
                }
            }
            .ag_registration_error_container{
                animation: show_nice .3s linear;
                margin-top: 5px;
                margin-bottom: 5px;
                display: flex;
                // flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                background-color: #ff00007d;
                padding: 3px;
                transition-duration: .3s;
                .ag_registration_error{
                    animation: show_nice .3s;
                    flex-basis: 100%;
                    color: white;
                    text-shadow: 0px 0px 1px black;
                    transition-duration: .3s;
                }
            }
        }
        .ag_registration_buttons_container{
            flex-basis: 100%;
            justify-content: center;
            display: flex;
        }
    }
}
.hide{
    display: none !important;
}